:root {
  --white: #cacac5;
  --green: #42b883;
  --green-light: #42d392;
  --grey-01: #2f2f2f;
  --grey-02: #3a3a3a;
  --grey-03: #8a8a79;
  --dark-blue: #213547;
  --sky-blue: #a6c4dd;
  --blue: #3a7fff;
  --black: #1a1a1a;

  --background: var(--black);
  --text: var(--grey-03);
  --primary: var(--green);
  --primary-light: var(--green-light);
}

/*===============
    GLOBAL
  ===============*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Outfit', sans-serif;
  font-weight: normal;
  font-style: normal;
  color: var(--text);
}

body {
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--background);
  transition:
    color 0.5s,
    background-color 0.5s;
  font-size: 1.2rem;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: none;
}

#app {
  min-width: 100vw;
  min-height: 100vh;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}
